<%= render partial: 'header' %>

<div class="col-12 col-md-10 offset-md-1 py-2">
  <div class="row">
    <div class="col-12 col-md-4 h-100">
      <%= render partial: 'create_position_menu' %>
    </div>
    <div class="col-12 col-md-8 h-100">
      <%= render @positions %>
    </div>
  </div>
</div>
