<div id="interviews">
  <interview-form formats_json="<%= @formats_json %>" create_url="<%= @post_url %>"></interview-form>
  <a-layout class="body">
    <interviews-sidebar></interviews-sidebar>
    <a-layout class="calendar">
      <a-layout-content>
        <interviews-calendar :interviews="interviews"></interviews-calendar>
      </a-layout-content>
    </a-layout>
  </a-layout>
</div>