<div id="interviews">
  <interview-calendar></interview-calendar>
  <interview-form formats_json="<%= @formats_json %>" create_url="<%= @post_url %>"></interview-form>
</div>

<% content_for :javascript do %>
  <%= javascript_pack_tag 'interviews' %>
<% end %>
