<div id="interview-form">
  <interview-form formats_json="<%= @formats_json %>" create_url="<%= @post_url %>"></interview-form>
</div>
<% content_for :javascript do %>
  <%= javascript_pack_tag 'interview_form' %>
<% end %>
