<div id="interviews">
  <a-layout class="body">
    <interviews-sidebar></interviews-sidebar>
    <a-layout class="calendar">
      <a-layout-content>
        <interviews-calendar
          :interviews="interviews"
          search-url="<%= @url %>"
          @load="load"
        ></interviews-calendar>
      </a-layout-content>
    </a-layout>
  </a-layout>
  <interview-form
    formats_json="<%= @formats_json %>"
    @create="create"
    @show="formShow"
    @close="formClose"
    :loading="formLoading"
    :visible="formVisible"
    create-url="<%= @url %>"
  ></interview-form>
</div>