<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="card interview">
				<h5 class="card-header">
					<%= I18n.localize(interview.datetime, format: :long) %>
				</h5>
				<div class="card-body">
					<p class="card-text">
						<%= interview.address %>
					</p>
				</div>
				<div class="card-footer">
					<%= I18n.t(:"format.#{interview.format}") %>
				</div>
			</div>
		</div>
	</div>
</div>
