<nav class='navbar navbar-expand-md navbar-light bg-light border-bottom'>
  <%= link_to image_tag('revelinho.svg', size: '250x50'), root_path %>
  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <%= @application_presenter.nav_links %>
    </ul>
  </div>
</nav>