<div class="container">
  <div class="row">
    <div class="col-12 col-md-6">
      <h1 class="home-text mb-4">
        Dê o próximo<br>
        salto na sua<br>
        carreira<span class="red-text">_</span><br>
      </h1>
      <%= link_to 'Vamos lá!', 'teste', class: 'btn btn-danger btn-revelo btn-lg justify-content-center' %>
    </div>

    <div class="col-12 col-md-6">
      <%= image_tag(image_url('jump-carrer.png'), class: 'float-right d-none d-md-block') %>
    </div>
  </div>
</div>
