<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron">
        <h2>
          <%= @dashboard.header_text %>
        </h2>
        <%= @dashboard.info_header_text %>
      </div>
    </div>
  </div>
  <div class="container">
    <%= @dashboard.cards%>
  </div>
</div>

