<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      font-size-32<div class="jumbotron">
        <h2>
          <%= @dashboard.header_text %>
        </h2>
        <%= @dashboard.info_header_text %>
      </div>
    </div>
  </div>
  <article class="container">
    <div class="row">
      <%= @dashboard.card_render %>
    </div>
  </article>
</div>
