<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron">
        <h2>
            <%= "Seja bem vindo ao portal da empresa #{current_employee.company.name}!" %>
        </h2>
        <%= link_to 'Criar posição', new_position_path, class: 'btn btn-outline-dark' %>
        <%= link_to 'Candidatos disponíveis', candidates_path, class: 'btn btn-outline-dark' %>
        <%= @company_link %>
      </div>
    </div>
  </div>
</div>
