<div class="col-12 col-md-8 offset-md-2 pt-3">
  <h2 class="mb-3 text-center">Convites</h2>

  <% if @invites.empty? %>
  <div class="card card-body">
    <h5>No momento não há convites enviados. <br>
      Veja os candidatos que separamos para você! <br> <br></h5>
    <%= link_to 'Ver candidatos', candidates_path, class: 'btn btn-primary btn-revelo-dark' %>
  </div>
  <% end %>

  <%= render partial: 'invites', locals: { invites: @invites } %>

  <div class="text-center">
    <%= link_to t('messages.go_back'), :back, class: 'btn btn-outline-secondary' %>
  </div>
</div>
