<h1><%= @company.name %> te convidou para a posição de <%= @position.title %>.</h1>
<h4>Veja a descrição do cargo:</h4>
<p><%= @position.description %></p>
<%= link_to 'Ver detalhes', invites_candidates_url %>
