<div class="comment" id="comment-<%= candidate_note_counter + 1 %>">
  <p>
    <small class="text-muted"><%= candidate_note.employee.email %></small>
  </p>
  <p><%= candidate_note.comment %></p>
</div>