<div class="comment border-bottom p-2" id="comment-<%= candidate_note_counter + 1 %>">
  <p class="mb-2">
    <small class="text-muted">
      <%= "@#{candidate_note.employee_email.split('@')[0]}" %>
    </small>
  </p>
  <p class="m-2"><%= candidate_note.comment %></p>
</div>