<%= form_with url: candidate_add_comment_path(candidate), method: 'post' do %>
  <div class="form-group">
    <%= text_field_tag(:comment, nil, placeholder: 'Novo comentário', class: 'form-control') %>
  </div>
  <div class="text-right">
    <%= submit_tag('Postar', class: 'btn btn-primary') %>
  </div>
<% end %>