
.candidates-list {
  $image-size: 8em;

  .image-container {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    
    .image {
      border-radius: 50%;
      height: $image-size;
      width: $image-size;
    }
  }

  .details-container {
    flex-grow: 1;
  }
}

.candidate-page {

  .candidate {

    .heading {
      margin-bottom: 0;
    }

    .text {
      color: black;
    }
  }
}