
.candidates-list {
  $image-size: 8em;

  .image-container {
    background-color: $red;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    
    .image {
      border-radius: 50%;
      height: $image-size;
      width: $image-size;
    }
  }

  .details-container {
    flex-grow: 1;
  }
}

.candidate-page {
  $image-height: 8em;

  .candidate {
    .heading {
      margin-bottom: 0;
    }

    .text {
      color: black;
    }
  }

  .candidate-header {
    background-color: $dark;
    width: 100%;

    .spacer {
      @include media-breakpoint-down(xs) {
        display: none;
      }
    }
    
    .content {
      position: relative;
      display: flex;
      align-content: center;
      justify-content: center;
      @include media-breakpoint-only(xs) {
        min-height: 8em;
      }
      @include media-breakpoint-up(sm) {
        min-height: 9em;
      }
      @include media-breakpoint-up(md) {
        min-height: 10em;
      }
    
      .name-wrapper {
        display: flex;
        align-items: center;
        
        .name {
          color: $white;
        }
      }
    
      .image-wrapper {
        position: absolute;
        left: 0;
        bottom: -1 * $image-height / 2;
        width: 100%;
    
        .image {
          border-radius: 50%;
          height: $image-height;
        }
      }
    }
  }
  
  // .candidate {
  //   padding-top: $image-height / 2;
  //   position: relative;
  
  //   .text-wrapper {
  //     padding: .2em;
  //     margin-right: 40px;
      
  //     @include media-breakpoint-down(sm) {
  //       margin-right: 0;
  //       padding: .5em;
  //     }
  
  //     .header {
  //       font-weight: bold;
  
  //       @include media-breakpoint-up(md) {
  //         text-align: end;
  //       }
  //       @include media-breakpoint-down(sm) {
  //         text-align: center;
  //       }
  //     }
  
  //     .content{
  //       @include media-breakpoint-down(sm) {
  //         text-align: center;
  //       }
  //     }
  //   }

  //   .employee-notes {
  //     $header-height: 3em;
  //     margin-top: -1 * ($image-height / 2 + $header-height);

  //     .header {
  //       height: $header-height;
  //       background-color: $red;
  //       display: flex;
  //       align-items: center;
  //       color: $white;
  //       font-weight: bold;
  //     }
      
  //     .comments {
  //       max-height: 25em;
  //       overflow: auto;
  //     }
  //   }
  // }
}