#interviews {
  height: calc(100vh - #{$nav-link-height} - #{$nav-link-padding-y * 2});
  overflow: hidden;

  .body {
    height: 100%;

    .calendar {
      height: 100%;
    }
  }

  .new-interview-modal {
    min-width: 600px;
  }
}

.new-interview-modal {
  min-width: 600px;
}