<div class="col-12 col-md-10 offset-md-1 mb-2">
  <div class="card card-body mb-0">
    <div class="flex mb-3">
      <%= image_tag message.avatar, class:'avatar-50 mr-3' %>
        <h5 class="m-0"><%= message.sendable.email %></h5>
      </div>
      <p class="mb-0"><%= message.text %></p>
  </div>
</div>
