body {
  background-color: #f5f7fb !important;
}

a:hover.link-defaut-color{
 text-decoration: none !important;
}

.font-size-32 {
 font-size: 32px;
}

.container, .container-fluid {
  margin-top: 20px;
}

h1, h2, h3, h4, h5, h6, p, label, a {
  font-family: 'Raleway', sans-serif;
}
