.invite-card {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  align-items: center;
}

.invite-card img {
  height: 100%;
  width: 120px;
  object-fit: cover;
  margin-top: 20px;
  margin-left: 15px;
}

.invite-card h2 {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
}

.invites-info h2 {
  font-size: 1.5rem;
}

.invite-card p {
  font-size: 1.2rem;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.invite-card span {
  font-weight: bold;
}

.invites-info {
  background-color: #e9ecef;
}

