
 .avatar-100 {
  max-width: 100px;
  max-height: 100px;
 }
  .avatar-50 {
  max-width: 50px;
  max-height: 50px;
  margin: 10px;
 }
 
 .main-description p {
  font-size: 13px !important;
  margin-bottom: 0px;
 }

 .position-description p {
  font-size: 13px !important;
  margin-bottom: 0px;
}

